.mapa{
    padding-left: 15px;
    padding-top: 5px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto';
    font-size: 18px;
}

.mapama{
    width: 420px;
    height: 560px;
	border: 10px groove blueviolet; 
    margin-top: 20px;
}