
.reseñas{
    text-align: center;
    font-size: 19px;

}

.rese{
    font-size: 25px;
    margin-left: 40px;
    font-weight: bolder;
}

.titulosReseñas{
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    color: white;
    background-color: cadetblue;
    border: 1px groove rgb(92, 16, 16);
    border-width: 3px;
    
}