@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: start;
}
.nav li {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1;
}

h1 {
  background-color: cadetblue;
  font-style: normal;
  font-weight: bolder;
  font-family: "Roboto";
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 40px;
  border: 5px solid black;
  margin: 54px 40px 54px 40px;
  position: relative;
  top: 5px;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-family: "Montserrat";
  font-size: 20px;
  margin: 24px 20px 14px 20px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 18px;
  margin: 24px 40px 24px 40px;
}

.icon {
  width: 48px;
  height: 48px;
  border: 0ch;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 2em;
  padding: 3em;
  background-color: cadetblue;
  margin-bottom: 0;
  margin-top: 1.5em;
}

.mapa {
  padding-left: 15px;
  padding-top: 5px;
  font-style: italic;
  font-weight: lighter;
  font-family: "Roboto";
  font-size: 18px;
}

.mapama {
  width: 420px;
  height: 560px;
  border: 10px groove blueviolet;
  margin-top: 20px;
}

/*Map*/
.btn--tiktok {
  background-color: cyan;
}

.btn--facebook {
  background-color: cadetblue;
}

.btn--instagram {
  background-color: crimson;
}

/*Map Get*/
body {
  background-color: burlywood;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: bolder;
}

/*Extend*/
.Extender, .fondoNav {
  background-color: cadetblue;
  font-weight: lighter;
}

.fondoNav {
  font-size: 40px;
}

/*Mixin*/
.index {
  height: 300px;
  width: 250px;
  border: 1px solid black;
  margin-left: 50px;
}

.reseñas {
  text-align: center;
}

.inicio {
  background-color: burlywood;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 45px;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 45px;
}

.padre {
  background-color: burlywood;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 45px;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 145px;
}

.segundoParrafo {
  border-radius: 30px;
  color: black;
  padding: 30px;
  margin-right: 10px;
  margin-top: 0px;
  margin-left: 30px;
  border: 2px groove orange;
  text-align: justify;
}

img {
  border: 2px solid black;
  width: 250px;
  height: 350px;
}

/*Media Queries*/
@media (min-width: 500px) {
  img {
    width: 250px;
    height: 350px;
  }
  .index {
    border: 1px solid black;
    width: 250px;
    height: 350px;
  }
  footer {
    letter-spacing: 5em;
    margin-top: 2em;
  }
}
@media (min-width: 768px) {
  .padre {
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 6em;
  }
  img {
    width: 350px;
    height: 450px;
    border: 5px solid black;
  }
  .mapama {
    width: 760px;
    height: 420px;
    border: 10px groove blueviolet;
    margin-top: 20px;
    margin-left: 10px;
  }
  footer {
    background-color: cadetblue;
    margin-top: 3em;
  }
}
@media (min-width: 1024px) {
  .padre {
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0;
  }
  .mapama {
    width: 1024px;
    height: 820px;
    border: 10px groove blueviolet;
    margin-top: 20px;
    margin-left: 10px;
  }
  img {
    width: 400px;
    height: 550px;
    margin-top: 20px;
  }
}
@media (min-width: 1366px) {
  .mapama {
    width: 1360px;
    height: 720px;
    border: 10px groove blueviolet;
    margin-top: 20px;
    margin-left: 10px;
  }
  .index {
    border: 1px solid black;
    width: 400px;
    height: 600px;
  }
}
@media (min-width: 1920px) {
  img {
    width: 500px;
    height: 700px;
    margin-top: 10px;
  }
  .index {
    border: 1px solid black;
    width: 550px;
    height: 750px;
  }
  .mapama {
    width: 1870px;
    height: 720px;
    border: 10px groove blueviolet;
    margin-top: 20px;
    margin-left: 10px;
  }
}/*# sourceMappingURL=Sass.css.map */